@model ControlDeInventarios.entities.vw_tesoreria_notas
@{
    ViewBag.Title = "Notas de Crédito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Nota de Crédito # @Model.PK_codigo</h1>
            <hr />
        </div>
    </div>
</div>

<form class="modal-content needs-validation" method="post" novalidate>
    <div class="row">
        <input id="PK_codigo" name="PK_codigo" type="text" value="@Model.PK_codigo" class="form-control" hidden>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Cuenta corriente *</label>
            <select id="FK_cuenta_corriente" name="FK_cuenta_corriente" class="form-control" required></select>
            <div class="invalid-feedback">Requerido</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Fecha *</label>
            <input id="fecha" name="fecha" type="date" value="@Model.fecha.ToString("yyyy-MM-dd")" class="form-control text-end" required>
            <div class="invalid-feedback">Requerido</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Referencia *</label>
            <input id="referencia" name="referencia" type="text" value="@Model.referencia" class="form-control" required>
            <div class="invalid-feedback">Requerido</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Descripción *</label>
            <input id="descripcion" name="descripcion" type="text" value="@Model.descripcion" class="form-control" required>
            <div class="invalid-feedback">Requerido</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Monto * </label>
            <input id="monto" name="monto" type="number" value="@Model.monto.ToString("N2")" step="0.01" class="form-control text-end" required>
            <div class="invalid-feedback">Requerido</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Observaciones </label>
            <textarea id="observaciones" name="observaciones" type="text" class="form-control">@Model.observaciones</textarea>
        </div>
    </div>
    <button type="submit" id="btnGuardar" class="btn btn-primary" hidden></button>
</form>

@section botones{
    <a href="/NotaCredito/Index" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline"> Notas de Crédito</span></a>
    <a href="~/NotaCredito/Details/@Model.PK_codigo" class="btn btn-outline-primary"><i class="fas fa-times"></i><span class="d-none d-sm-inline"> Cancelar</span></a>
    <button type="button" onclick="javascript:Guardar();" class="btn btn-primary"><i class="fas fa-check"></i><span class="d-none d-sm-inline"> Guardar</span></button>
}

@section scripts{
    <script>

        //VALIDACION BOOTSTRAP
        (() => {
            'use strict';
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach((form) => {
                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();

        $("#FK_cuenta_corriente").select2({
            width: '100%',
            placeholder: "Seleccione una opción",
            allowClear: true,
            theme: "bootstrap-5",
            ajax: {
                url: "../../Select2/SelectCuentaCorriente",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        terms: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });

        //Muestra el valor seleccionado por defecto.
        var $newOption2 = $("<option selected='selected'></option>").val('@Model.FK_cuenta_corriente').text('@Html.Raw(@Model.cuenta_corriente)');
        $("#FK_cuenta_corriente").append($newOption2).trigger('change');
        
        function Guardar() {
            $("#btnGuardar").trigger("click");
        }

    </script>
}
