@model IEnumerable<ControlDeInventarios.entities.vw_inventarios_kardex_ventas>
@{
    ViewBag.Title = "Productos más vendidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Productos más vendidos</h1>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">N°</th>
                        <th class="text-center" scope="col">Identificador</th>
                        <th class="text-center" scope="col">Descripción</th>
                        <th class="text-center" scope="col">unidades vendidas</th>
                        <th class="text-center" scope="col">Costo unitario</th>
                        <th class="text-center" scope="col">Precio unitario</th>
                        <th class="text-center" scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _registro in Model.OrderByDescending(X => X.existencia_fisica))
                    {
                    <tr>
                        <th class="text-center" scope="row"><a href="/Inventarios/Details/@_registro.PK_codigo">@_registro.PK_codigo</a></th>
                        <td>@_registro.identificador</td>
                        <td>@_registro.descripcion</td>
                        <td class="text-end">@_registro.existencia_fisica.ToString("N2")</td>
                        <td class="text-end">@_registro.costo_unitario.ToString("C2")</td>
                        <td class="text-end">@_registro.precio_unitario.ToString("C2")</td>
                        <td>
                            <label style="color:@_registro.estado_color"><i class="fa fa-circle"></i></label>
                            <label>@_registro.estado</label>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            //let table = new DataTable('#myTable');
            new DataTable('#myTable', {
                order: [[3, 'desc']]
            });
        });
    </script>
}
