@model ControlDeInventarios.entities.vw_proveedores
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Proveedor # @Model.PK_codigo </h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Razón social:</label><br />
            <label class="form-label bold">@Model.razon_social</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Nombre comercial:</label><br />
            <label class="form-label bold">@Model.nombre_comercial</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Teléfono:</label><br />
            <label class="form-label bold">@Model.telefono</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Nit: </label><br />
            <label class="form-label bold">@Model.nit</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Dui: </label><br />
            <label class="form-label bold">@Model.dui</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Nrc: </label><br />
            <label class="form-label bold">@Model.nrc</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Departamento: </label><br />
            <label class="form-label bold">@Model.departamento</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Municipio: </label><br />
            <label class="form-label bold">@Model.municipio</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Dirección: </label><br />
            <label class="form-label bold">@Model.direccion</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label>Estado:</label><br />
            <label style="color:@Model.estado_color"><i class="fa fa-circle"></i></label>
            <label class="form-label bold">@Model.estado</label>
        </div>
    </div>
</div>

@section botones{
    <a href="/Proveedores/Index" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline"> Proveedores</span></a>
    <a href="~/Proveedores/Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i><span class="d-none d-sm-inline"> Nuevo</span></a>
    <a href="~/Proveedores/Edit/@Model.PK_codigo" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i><span class="d-none d-sm-inline"> Editar</span></a>
    <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list"></i> Opciones
        </button>
        <ul class="dropdown-menu">
            @if (Model.FK_estado == 1)
            {
                <li><a href="#" class="dropdown-item" onclick="return sweetAlertConfirm2(Desactivar,'¿Desea desactivar el proveedor?');"><i class="fa-solid fa-circle-check"></i> Desactivar</a> </li>
            }
            else
            {
                <li><a href="#" class="dropdown-item" onclick="return sweetAlertConfirm2(Activar,'¿Desea activar el proveedor?');"><i class="fa-solid fa-circle-check"></i> Activar</a> </li>
            }
        </ul>
    </div>
}

@section scripts{
    <script>
        //Activar.
        function Desactivar() {
            $.ajax({
                type: "GET",
                url: "../../Proveedores/Desactivar?id=@Model.PK_codigo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function () {
                    location.reload();
                },
                error: function (response) {
                    //alert(response);
                },
            });
        }

        function Activar() {
            $.ajax({
                type: "GET",
                url: "../../Proveedores/Activar?id=@Model.PK_codigo",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function () {
                    location.reload();
                },
                error: function (response) {
                    //alert(response);
                },
            });
        }
    </script>
}


