@model ControlDeInventarios.entities.vw_contabilidad_cuentas_contables
@{
    ViewBag.Title = "Cuentas contables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Cuenta contable # @Model.PK_codigo </h1>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Número de cuenta:</label><br />
            <label class="form-label bold">@Model.numero</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Nombre:</label><br />
            <label class="form-label bold">@Model.nombre</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Clasificación:</label><br />
            <label class="form-label bold">@Model.clasificacion</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Cuenta padre: </label><br />
            <label class="form-label bold">@Model.cuenta_padre</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Cuenta padre: </label><br />
            <label class="form-label bold">@Model.cuenta_padre</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <label class="form-label">Cuenta mayor: </label><br />
            <div class="form-check">
                <input id="cuenta_mayor" name="cuenta_mayor" value="" type="checkbox" class="form-check-input" checked="@Model.cuenta_mayor" disabled />
            </div>
        </div>
    </div>
</div>

@section botones{
    <a href="/ContabilidadCuentasContables/Index" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i><span class="d-none d-sm-inline"> Cuentas contables</span></a>
    <a href="~/ContabilidadCuentasContables/Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i><span class="d-none d-sm-inline"> Nueva</span></a>
    <a href="~/ContabilidadCuentasContables/Edit/@Model.PK_codigo" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i><span class="d-none d-sm-inline"> Editar</span></a>
}